.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 3rem 1rem;
}

h1 {
  text-align: center;
}

.counter_container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.counter {
  background-color: #ddd;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons_container {
  display: flex;
  gap: 1rem;
}

.buttons_container button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

.buttons_container button:nth-child(1) {
  background-color: lightcoral;
}

.buttons_container button:nth-child(2) {
  background-color: rgb(255, 200, 200);
}
.buttons_container button:nth-child(3) {
  background-color: #ddd;
}
.buttons_container button:nth-child(4) {
  background-color: rgb(131, 225, 206);
}
.buttons_container button:nth-child(5) {
  background-color: lightseagreen;
}
